# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\79017\Documents\Work\MIPT\1 semester\Programming\nano-GCC\.idea/dataSources/
/dataSources.local.xml
